<h1>Listing bug_histories</h1>

<table>
  <tr>
    <th>Bug</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bug_histories.each do |bug_history| %>
  <tr>
    <td><%= bug_history.bug_id %></td>
    <td><%= bug_history.status %></td>
    <td><%= link_to 'Show', bug_history %></td>
    <td><%= link_to 'Edit', edit_bug_history_path(bug_history) %></td>
    <td><%= link_to 'Destroy', bug_history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug history', new_bug_history_path %>
