<%= form_for(@user_feature_xref) do |f| %>
  <% if @user_feature_xref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_feature_xref.errors.count, "error") %> prohibited this user_feature_xref from being saved:</h2>

      <ul>
      <% @user_feature_xref.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :feature_id %><br />
    <%= f.text_field :feature_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
