<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :track_id, :value=>session[:track_id] %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Owner %>:
    <% if ! @component.owner %>
      <% @component.owner_id = session[:user_id] %>
    <% end %>
    <%= collection_select(:component, :owner_id, @component.track.users, :id, :username, :prompt => true) %>
  </div>

  <div class="field">
    <%= f.label :features %>:<br />
    <% @component.features.each do |f| %>
      <%= link_to f.name, f %><br />
    <% end %>
  </div>

  <div class="field">
    <%= f.label :"Select members" %>:<br />
    <% @component.track.users.each do |u| %>
      <%= check_box_tag("user_ids[]", u.id, @component.users.include?(u)) %>
      <%= label_tag('', u.username) %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
