<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_track_xref.user_id %>
</p>

<p>
  <b>Track:</b>
  <%= @user_track_xref.track_id %>
</p>


<%= link_to 'Edit', edit_user_track_xref_path(@user_track_xref) %> |
<%= link_to 'Back', user_track_xrefs_path %>
