<h1>Listing testcase_bug_xrefs</h1>

<table>
  <tr>
    <th>Testcase</th>
    <th>Bug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testcase_bug_xrefs.each do |testcase_bug_xref| %>
  <tr>
    <td><%= testcase_bug_xref.testcase_id %></td>
    <td><%= testcase_bug_xref.bug_id %></td>
    <td><%= link_to 'Show', testcase_bug_xref %></td>
    <td><%= link_to 'Edit', edit_testcase_bug_xref_path(testcase_bug_xref) %></td>
    <td><%= link_to 'Destroy', testcase_bug_xref, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Testcase bug xref', new_testcase_bug_xref_path %>
