<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :product_id, :value=>session[:product_id] %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Owner %>:
    <% if ! @track.owner %>
      <% @track.owner_id = session[:user_id] %>
    <% end %>
    <%= collection_select(:track, :owner_id, @track.product.users, :id, :username, :prompt => true) %>
  </div>


  <div class="field">
    <%= f.label :"Select members" %>:<br />
    <% @track.product.users.each do |u| %>
      <%= check_box_tag("user_ids[]", u.id, @track.users.include?(u)) %>
      <%= label_tag('', u.username) %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
