<p id="notice"><%= notice %></p>

<% session[:track_id] = @track.id %>

<%= link_to @track.product.name, @track.product %>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<p>
  <b>Owner:</b>
  <%= link_to @track.owner.username, @track.owner %>
</p>

<p>
  <b>Components:</b><br />
  <% @track.components.each do |component| %>
    <%= link_to component.name, component %>
    <br />
  <% end %>
  <% session[:track_id] = @track.id %>
  <%= link_to 'New Component', new_component_path %>
</p>

<p>
  <b>Users:</b><br />
  <% @track.users.each do |user| %>
    <%= link_to user.username, user %>
    <br />
  <% end %>
</p>

<p>
  <b>Repositories:</b><br />
  <% @track.repositories.each do |r| %>
    <%= link_to r.name, r %>
    <% if @track.main_repo_id == r.id %>
      MAIN
    <% end %>
    <%= link_to 'Destroy', 
      :confirm => 'Are you sure?',
      :action => :delete_repository,
      :repository_id=>r.id, :track_id => @track.id
    %>
    <br />
  <% end %>
  <%= link_to 'New Repository', new_repository_path %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %>
