<% if @commit %>
  <table>
    <tr>
      <th>Author</th>
      <th>Authored at</th>
      <th>Committer</th>
      <th>Committed at</th>
      <th>Comments</th>
    </tr>
    <tr>
      <td><%= @commit.author %></td>
      <td><%= @commit.authored_date %></td>
      <td><%= @commit.committer %></td>
      <td><%= @commit.committed_date %></td>
      <td><%= @commit.message %></td>
    </tr>
  </table>

<%= select_tag :early_commit,
  options_for_select(@early_commits.collect{|ec| [ec.committed_date, ec]}),
  :include_blank=>true,
  :onclick => remote_function(
    :update => "diff_commits",
    :method => "get",
    :with => "Form.Element.serialize(this)", 
    :url => { :controller => :repositories, :action => :diff_commits})
%>
<% end %>

<div id='diff_commits'>
</div>
