<h1>Listing bug_build_xrefs</h1>

<table>
  <tr>
    <th>Bug</th>
    <th>Build</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bug_build_xrefs.each do |bug_build_xref| %>
  <tr>
    <td><%= bug_build_xref.bug_id %></td>
    <td><%= bug_build_xref.build_id %></td>
    <td><%= link_to 'Show', bug_build_xref %></td>
    <td><%= link_to 'Edit', edit_bug_build_xref_path(bug_build_xref) %></td>
    <td><%= link_to 'Destroy', bug_build_xref, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug build xref', new_bug_build_xref_path %>
