<p id="notice"><%= notice %></p>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
<p>
  <b>Email:</b>
  <%= mail_to @user.email %>
</p>
<% if @user.id == session[:user_id] %>
  <p>
    <b>Owned Products:</b>
    <%= link_to @user.owned_products.count, :controller=>'products', :owner_id=>@user.id, :action=>'filter' %>
  </p>
  <p>
    <b>Owned Cases:</b>
    <%= link_to @user.testcases.count, :controller=>'testcases', :owner_id=>@user.id, :action=>'filter' %>
  </p>
  <p>
    <b>Assigned Cases:</b>
    <%= link_to @user.assigned_testcases.count, :controller=>'testcases', :assign_to_id=>@user.id, :action=>'filter' %>
  </p>
  <p>
    <b>Reported Bugs:</b>
    <%= link_to @user.reported_bugs.count, :controller=>'bugs', :reporter_id=>@user.id, :action=>'filter' %><br />
  </p>
  <p>
    <b>Assigned Bugs:</b>
    <%= link_to @user.assigned_bugs.count, :controller=>'bugs', :assign_to_id=>@user.id, :action=>'filter' %>
  </p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'All Users', users_path %>
