<h1>Listing user_testcase_xrefs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Testcase</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_testcase_xrefs.each do |user_testcase_xref| %>
  <tr>
    <td><%= user_testcase_xref.user_id %></td>
    <td><%= user_testcase_xref.testcase_id %></td>
    <td><%= link_to 'Show', user_testcase_xref %></td>
    <td><%= link_to 'Edit', edit_user_testcase_xref_path(user_testcase_xref) %></td>
    <td><%= link_to 'Destroy', user_testcase_xref, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User testcase xref', new_user_testcase_xref_path %>
