<h1>Listing user_component_xrefs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Component</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_component_xrefs.each do |user_component_xref| %>
  <tr>
    <td><%= user_component_xref.user_id %></td>
    <td><%= user_component_xref.component_id %></td>
    <td><%= link_to 'Show', user_component_xref %></td>
    <td><%= link_to 'Edit', edit_user_component_xref_path(user_component_xref) %></td>
    <td><%= link_to 'Destroy', user_component_xref, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User component xref', new_user_component_xref_path %>
