<h1>Listing user_bug_xrefs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Bug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_bug_xrefs.each do |user_bug_xref| %>
  <tr>
    <td><%= user_bug_xref.user_id %></td>
    <td><%= user_bug_xref.bug_id %></td>
    <td><%= link_to 'Show', user_bug_xref %></td>
    <td><%= link_to 'Edit', edit_user_bug_xref_path(user_bug_xref) %></td>
    <td><%= link_to 'Destroy', user_bug_xref, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User bug xref', new_user_bug_xref_path %>
