<h1>Listing user_product_xrefs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_product_xrefs.each do |user_product_xref| %>
  <tr>
    <td><%= user_product_xref.user_id %></td>
    <td><%= user_product_xref.product_id %></td>
    <td><%= link_to 'Show', user_product_xref %></td>
    <td><%= link_to 'Edit', edit_user_product_xref_path(user_product_xref) %></td>
    <td><%= link_to 'Destroy', user_product_xref, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User product xref', new_user_product_xref_path %>
