<!DOCTYPE html>
<html>
<head>
  <title>Rorup4t</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'prototype' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="banner">
    <%= image_tag("logo.png" ) %>
    <%= @page_title || "Uni-Platform for Test" %>
  </div>
  <div id="columns">
    <div id="side">
    <% if session[:user_id] %>
      <p align="right" >
      Welcome <%= link_to User.find_by_id(session[:user_id]).username, User.find_by_id(session[:user_id]) %>
      <%= link_to 'Logout', logout_path, :method => :delete %>
      </p>
      <%= link_to 'Users', users_path %><br />
      <%= link_to 'Products', products_path %><br />
      <%= link_to 'Bugs', bugs_path %><br />
    <% end %>
    </div>
    <div id="main">
      <% session[:condHash] = @condHash if @condHash %>
      <%= yield %>
    </div>
  </div>

</body>
</html>

